<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <title>About Kirk Hammett</title>
</head>
<body>
  <article class="about-kirk">
    <h3>Kirk Hammett</h3>
    <p>Kirk Lee Hammett is an American musician who has been the lead guitarist and contributing songwriter for heavy metal band Metallica since 1983. He was born November 18, 1962 in San Francisco, California. His mother is of Filipino descent and his father was of English, German, Scottish and Irish ancestry. </p>
    <p>Kirk started to play guitar at the age of 15 and he took lessons from Joe Satriani.</p>
    <p>Between Metallica tours he studied film and Asian arts at San Francisco State University. He has a passion for horror movies since he was 4 years old. He created <em>Kirk Von Hammett's Fear FestEvil</em> annual horror convention and in 2019 he opened up the vaults of his massive personal collection of science fiction and horror memorabilia for an exhibit called It's Alive!, which was running at the Royal Ontario Museum in Canada. </p>
    <p>Kirk resides with his wife and two sons in California and Hawaii. He likes to surf on a regular basis. </p>
    <div class="links">
      <a class="back-link" href="/">Back</a>
      <a class="works-link" href="/works">Kirk Hammett's Works</a>
    </div>
  </article>
  
  
  
</body>
</html>