<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Works</title>
</head>
<body>
  <section class="works">
    <h3 class="works-title">Works</h3>
    <p class="works-text">Kirk Hammett plays on all 10 Metallica albums and many of the greatest riffs in their songs are his creations. His solos are epic and beautiful.</p>
    <p class="works-text">Metallica celebrates their 40 year anniversary this year and is currently touring. </p>
    <p class="unforgiven">Producer Bob Rock is pushing Kirk in a recording session<br>and this solo was born.<br>Some people play sometimes better when they are a bit pissed off.</p>
    
    <iframe width="477" height="315"
      src="https://www.youtube.com/embed/K7kY4ZAtGo4">
    </iframe>
    <iframe width="477" height="315"
      src="https://www.youtube.com/embed/ueReQySCPUg">
    </iframe>
  </section>
</body>
</html>